<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<% page_title = "#{@user.name}'s blog" %>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= page_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <script language="JavaScript" type="text/javascript" src="file.js"></script>
  </head>
  <body>
    <h1><%= page_title %></h1>

<% @entries.each do |entry| %>
    <!-- entry -->
    <div id="entry-<%= entry.id %>" class="entry">
      <h2 class="entry-title"><%= entry.title %></h2>
      <div class="entry-body"><%== entry.body %></div>
      <div class="comments">
        <span>Comments</span>
<%   if entry.comments.empty? %>
        <p>No comments.</p>
<%   else %>
        <dl class="comment">
<%     entry.comments.each do |comment| %>
          <dt><%= comment.user %></dt>
          <dd><%== h(comment.body).gsub(/\r?\n/, "<br />\n") %></dd>
<%     end %>
        </dl>
<%   end %>
      </div>
    </div>
    <!-- /entry -->
<% end %>

  </body>
</html>
